.settings
*~
/csharp.net/PubNub-Messaging*/bin/*
/csharp.net/PubNub-Messaging*/obj/*
/csharp.net/*.suo
/windows-phone-*/*/packages/*
/windows-phone-*/*/packages.config
/windows-phone-*/*/*/bin/debug/*
/windows-phone-*/*/*/obj/debug/*
/windows-phone-*/*/bin/*
/windows-phone-*/*/obj/*
/windows-phone-*/*.suo
/windows-phone-*/*/*.user
/iis/PubNubExampleASPNET*/bin/*
/iis/PubNubExampleASPNET*/obj/*
/iis/PubNubExampleASPNET*/obj/debug/*
/iis/PubNubExampleASPNET*/*.sln
/iis/PubNubExampleASPNET*/*.suo
/iis/PubNubExampleASPNET*/*.csproj.user
/unity/*/*/PubnubUnity/Library/*
/unity/*/*/PubnubUnity/Temp/*
/unity/*/*/PubnubUnity/ProjectSettings/*
/unity/*/*/PubnubUnity/*.pidb
/unity/*/*/PubnubUnity/*.pdb
/unity/*/*/PubnubUnity/*.exe
/unity/*/*/PubnubUnity/*.userprefs
/unity/*/*/PubnubUnity/PubnubUnityBuild_Data/*
/unity/*/*/UnityUnitTest/Library/*
/unity/*/*/UnityUnitTest/Temp/*
/unity/*/*/UnityUnitTest/ProjectSettings/*
/unity/*/*/UnityUnitTest/*.pidb
/unity/*/*/UnityUnitTest/*.pdb
/unity/*/*/UnityUnitTest/*.exe
/unity/*/*/UnityUnitTest/*.userprefs
/unity/*/*/UnityUnitTest/UnityUnitTestBuild_Data/*
/silverlight/*.suo
/silverlight/*/bin/Debug/*
/silverlight/*/bin/Release/*
/silverlight/*/obj/Debug/*
/silverlight/*/obj/Release/*
/silverlight/PubnubSilverlightUnitTest.Web/bin/*
/silverlight/*/*.csproj.user
/windows-store/*/PubnubWindowsStore/packages/*
/windows-store/*/PubnubWindowsStore/*/bin/Debug/*
/windows-store/*/PubnubWindowsStore/*/obj/Debug/*
/demos/epoll/packages/*
/demos/ePoll/WebPoll/bin/*.pdb
/demos/ePoll/WebPoll/obj/*
/demos/ePoll/WebPoll/Properties/PublishProfiles/*
/demos/ePoll/WebPoll/*.user
/demos/epoll/PubnubCore/bin/Debug/*.pdb
/demos/epoll/PubnubCore/obj/*
/demos/epoll/ePoll.UnitTests/bin/Debug/*.pdb
/demos/epoll/ePoll.UnitTests/obj/*
/demos/ePoll/ePoll.Types/Debug/bin/*.pdb
/demos/ePoll/ePoll.Types/obj/*
/demos/ePoll/ePoll.Types/Debug/*.pdb
/mono-for-linux/PubNub-Messaging/PubNub-Console/bin/Debug/*
/mono-for-linux/PubNub-Messaging/PubNubTest/bin/Debug/*
/mono-for-linux/PubNub-Messaging/PubNub-Messaging.userprefs
/mono-for-linux/PubNub-Messaging/test-results/*
/mono-for-linux/PubNub-Messaging/PubNubTest/test-results/*
/mono-for-mac/PubNub-Console/bin/Debug/*
/mono-for-mac/PubNub-Console/obj/*
/mono-for-mac/PubNub-Messaging.userprefs
/mono-for-mac/PubNubTest/bin/Debug/*
/mono-for-mac/PubNubTest/obj/*
/monotouch/PubnubMessaging/bin/Debug/*
/monotouch/Newtonsoft.Json/bin/Debug/*
.DS_Store
*.cache
*.suo
