.settings
*~
/csharp.net/PubNub-Messaging*/bin/*
/csharp.net/PubNub-Messaging*/obj/*
/csharp.net/*.suo
/windows-phone-*/*/packages/*
/windows-phone-*/*/packages.config
/windows-phone-*/*/*/bin/*
/windows-phone-*/*/*/obj/*
/windows-phone-*/*/*.suo
/windows-phone-*/*/*/*.user
/iis/*/PubNubExampleASPNET*/bin/*
/iis/*/PubNubExampleASPNET*/obj/*
/iis/*/PubNubExampleASPNET*/obj/debug/*
/iis/*/PubNubExampleASPNET*/*.sln
/iis/*/PubNubExampleASPNET*/*.suo
/iis/*/PubNubExampleASPNET*/*.csproj.user
/unity/*/*/PubnubUnity/Library/*
/unity/*/*/PubnubUnity/Temp/*
/unity/*/*/PubnubUnity/ProjectSettings/*
/unity/*/*/PubnubUnity/*.pidb
/unity/*/*/PubnubUnity/*.pdb
/unity/*/*/PubnubUnity/*.exe
/unity/*/*/PubnubUnity/*.userprefs
/unity/*/*/PubnubUnity/PubnubUnityBuild_Data/*
/unity/*/*/UnityUnitTest/Library/*
/unity/*/*/UnityUnitTest/Temp/*
/unity/*/*/UnityUnitTest/ProjectSettings/*
/unity/*/*/UnityUnitTest/*.pidb
/unity/*/*/UnityUnitTest/*.pdb
/unity/*/*/UnityUnitTest/*.exe
/unity/*/*/UnityUnitTest/*.userprefs
/unity/*/*/UnityUnitTest/UnityUnitTestBuild_Data/*
/silverlight/*/*.suo
/silverlight/*/*/Bin/Debug/*
/silverlight/*/*/Bin/Release/*
/silverlight/*/*/obj/Debug/*
/silverlight/*/*/obj/Release/*
.DS_Store
*.cache
*.suo
