openapi: 3.0.3
info:
  title: Object Management API
  version: 4.0.0

servers:
  - url: https://ingress-tcp-pub-pdx-int.pubnub.net
    description: Integration
  - url: https://ps.pndsn.com
    description: Production

security:
  - pamToken: []
  - signature: []
x-exactly-one-of-security:
  - pamToken
  - signature

paths:
  /v1/datasync/subkeys/{subKey}/relationships:
    get:
      tags:
        - relationship
      operationId: getRelationships
      summary: List relationships of a class, optionally filtered by entity_a_id or entity_b_id
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/RelationshipClassRequiredQuery"
        - $ref: "#/components/parameters/EntityAIdQuery"
        - $ref: "#/components/parameters/EntityBIdQuery"
        - $ref: "#/components/parameters/RelationshipClassVersionQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/FilterFastQuery"
        - $ref: "#/components/parameters/FilterQuery"
        - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/RelationshipsResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestListResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    post:
      tags:
        - relationship
      summary: Create a new relationship
      operationId: createRelationship
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
      requestBody:
        required: true
        content:
          application/vnd.pubnub.objects.relationship+json;version=1:
            schema:
              $ref: "#/components/schemas/CreateRelationshipRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateRelationshipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestRelationshipCreateResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "409":
          $ref: "common.yaml#/components/responses/ConflictRelationshipCreateResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/relationships/{relationshipId}:
    get:
      tags:
        - relationship
      operationId: getRelationship
      summary: Get relationship by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/RelationshipIdPath"
      responses:
        "200":
          $ref: "#/components/responses/RelationshipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - relationship
      operationId: patchRelationship
      summary: Patch Relationship using Json Patch RFC-6902
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/RelationshipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: patch
        content:
          application/json-patch+json:
            schema:
              $ref: "common.yaml#/components/schemas/JsonPatch"
            example:
              - op: replace
                path: /status
                value: moderator
              - op: add
                path: /custom/role
                value: admin
      responses:
        "200":
          $ref: "#/components/responses/RelationshipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestPatchResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - relationship
      operationId: deleteRelationship
      summary: Delete relationship by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/RelationshipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      responses:
        "200":
          $ref: "common.yaml#/components/responses/DeleteSuccessResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    put:
      tags:
        - relationship
      operationId: updateRelationship
      summary: Update relationship with complete resource replacement
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/RelationshipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: updateRequest
        content:
          application/vnd.pubnub.objects.relationship+json;version=1:
            schema:
              $ref: "#/components/schemas/UpdateRelationshipRequest"
      responses:
        "200":
          $ref: "#/components/responses/RelationshipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/entities:
    get:
      tags:
        - entity
      operationId: getEntities
      summary: Get entities
      description: Lists entities.
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityClassRequiredQuery"
        - $ref: "#/components/parameters/EntityClassVersionQuery"
        - $ref: "common.yaml#/components/parameters/EntityClassLevelQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/FilterFastQuery"
        - $ref: "#/components/parameters/FilterQuery"
        - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/EntitiesResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestListResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    post:
      tags:
        - entity
      summary: Create a new entity
      operationId: createEntity
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
      requestBody:
        required: true
        content:
          application/vnd.pubnub.objects.entity+json;version=1:
            schema:
              $ref: "#/components/schemas/CreateEntityRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateEntityResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "409":
          $ref: "common.yaml#/components/responses/ConflictResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/entities/{entityId}:
    get:
      tags:
        - entity
      operationId: getEntity
      summary: Get entity by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityIdPath"
      responses:
        "200":
          $ref: "#/components/responses/EntityResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - entity
      operationId: patchEntity
      summary: Patch Entity using Json Patch RFC-6902
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: patch
        content:
          application/json-patch+json:
            schema:
              $ref: "common.yaml#/components/schemas/JsonPatch"
            example:
              - op: replace
                path: /status
                value: moderator
              - op: add
                path: /custom/role
                value: admin
      responses:
        "200":
          $ref: "#/components/responses/EntityResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestPatchResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - entity
      operationId: deleteEntity
      summary: Delete entity by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      responses:
        "200":
          $ref: "common.yaml#/components/responses/DeleteSuccessResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    put:
      tags:
        - entity
      operationId: updateEntity
      summary: Update entity with complete resource replacement
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: updateRequest
        content:
          application/vnd.pubnub.objects.entity+json;version=1:
            schema:
              $ref: "#/components/schemas/UpdateEntityRequest"
      responses:
        "200":
          $ref: "#/components/responses/EntityResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/users:
    get:
      tags:
        - user
      operationId: getUsers
      summary: Get users
      description: Lists users.
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityClassQuery"
        - $ref: "#/components/parameters/EntityClassVersionQuery"
        - $ref: "common.yaml#/components/parameters/EntityClassLevelQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/FilterFastQuery"
        - $ref: "#/components/parameters/FilterQuery"
        - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/UsersResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestListResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    post:
      tags:
        - user
      summary: Create a new user
      operationId: createUser
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
      requestBody:
        required: true
        content:
          application/vnd.pubnub.objects.user+json;version=1:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateUserResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "409":
          $ref: "common.yaml#/components/responses/ConflictResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/users/{userId}:
    get:
      tags:
        - user
      operationId: getUser
      summary: Get user by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/UserIdPath"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - user
      operationId: patchUser
      summary: Patch User using Json Patch RFC-6902
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/UserIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: patch
        content:
          application/json-patch+json:
            schema:
              $ref: "common.yaml#/components/schemas/JsonPatch"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestPatchResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - user
      operationId: deleteUser
      summary: Delete user by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/UserIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      responses:
        "200":
          $ref: "common.yaml#/components/responses/DeleteSuccessResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    put:
      tags:
        - user
      operationId: updateUser
      summary: Update user with complete resource replacement
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/UserIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: updateRequest
        content:
          application/vnd.pubnub.objects.user+json;version=1:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UserResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/channels:
    get:
      tags:
        - channel
      operationId: getChannels
      summary: Get channels
      description: Lists channels.
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/EntityClassQuery"
        - $ref: "#/components/parameters/EntityClassVersionQuery"
        - $ref: "common.yaml#/components/parameters/EntityClassLevelQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/FilterFastQuery"
        - $ref: "#/components/parameters/FilterQuery"
        - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/ChannelsResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestListResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    post:
      tags:
        - channel
      summary: Create a new channel
      operationId: createChannel
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
      requestBody:
        required: true
        content:
          application/vnd.pubnub.objects.channel+json;version=1:
            schema:
              $ref: "#/components/schemas/CreateChannelRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateChannelResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "409":
          $ref: "common.yaml#/components/responses/ConflictResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/channels/{channelId}:
    get:
      tags:
        - channel
      operationId: getChannel
      summary: Get channel by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/ChannelIdPath"
      responses:
        "200":
          $ref: "#/components/responses/ChannelResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - channel
      operationId: patchChannel
      summary: Patch Channel using Json Patch RFC-6902
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/ChannelIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: patch
        content:
          application/json-patch+json:
            schema:
              $ref: "common.yaml#/components/schemas/JsonPatch"
      responses:
        "200":
          $ref: "#/components/responses/ChannelResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestPatchResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - channel
      operationId: deleteChannel
      summary: Delete channel by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/ChannelIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      responses:
        "200":
          $ref: "common.yaml#/components/responses/DeleteSuccessResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    put:
      tags:
        - channel
      operationId: updateChannel
      summary: Update channel with complete resource replacement
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/ChannelIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: updateRequest
        content:
          application/vnd.pubnub.objects.channel+json;version=1:
            schema:
              $ref: "#/components/schemas/UpdateChannelRequest"
      responses:
        "200":
          $ref: "#/components/responses/ChannelResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/memberships:
    get:
      tags:
        - membership
      operationId: getMemberships
      summary: Get memberships by user_id or channel_id
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/UserIdQuery"
        - $ref: "#/components/parameters/ChannelIdQuery"
        - $ref: "#/components/parameters/RelationshipClassVersionQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/FilterFastQuery"
        - $ref: "#/components/parameters/FilterQuery"
        - $ref: "#/components/parameters/SortQuery"
      responses:
        "200":
          $ref: "#/components/responses/MembershipsResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestListResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    post:
      tags:
        - membership
      summary: Create a new membership
      operationId: createMembership
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
      requestBody:
        required: true
        content:
          application/vnd.pubnub.objects.membership+json;version=1:
            schema:
              $ref: "#/components/schemas/CreateMembershipRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateMembershipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestRelationshipCreateResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "409":
          $ref: "common.yaml#/components/responses/ConflictResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

  /v1/datasync/subkeys/{subKey}/memberships/{membershipId}:
    get:
      tags:
        - membership
      operationId: getMembership
      summary: Get membership by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/MembershipIdPath"
      responses:
        "200":
          $ref: "#/components/responses/MembershipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - membership
      operationId: patchMembership
      summary: Patch Membership using Json Patch RFC-6902
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/MembershipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: patch
        content:
          application/json-patch+json:
            schema:
              $ref: "common.yaml#/components/schemas/JsonPatch"
      responses:
        "200":
          $ref: "#/components/responses/MembershipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestPatchResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - membership
      operationId: deleteMembership
      summary: Delete membership by ID
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/MembershipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      responses:
        "200":
          $ref: "common.yaml#/components/responses/DeleteSuccessResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

    put:
      tags:
        - membership
      operationId: updateMembership
      summary: Update membership with complete resource replacement
      parameters:
        - $ref: "common.yaml#/components/parameters/SubKeyPath"
        - $ref: "#/components/parameters/MembershipIdPath"
        - $ref: "common.yaml#/components/parameters/IfMatchHeader"
      requestBody:
        required: true
        x-codegen-request-body-name: updateRequest
        content:
          application/vnd.pubnub.objects.membership+json;version=1:
            schema:
              $ref: "#/components/schemas/UpdateMembershipRequest"
      responses:
        "200":
          $ref: "#/components/responses/MembershipResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequestWriteResponse"
        "401":
          $ref: "common.yaml#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "common.yaml#/components/responses/ForbiddenResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFoundResponse"
        "406":
          $ref: "common.yaml#/components/responses/NotAcceptableResponse"
        "412":
          $ref: "common.yaml#/components/responses/PreconditionFailedResponse"
        "415":
          $ref: "common.yaml#/components/responses/UnsupportedMediaTypeResponse"
        "429":
          $ref: "common.yaml#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "common.yaml#/components/responses/ServiceUnavailableResponse"

components:
  responses:
    RelationshipsResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.relationship+json;version=1:
          schema:
            $ref: "#/components/schemas/RelationshipsEnvelope"
    RelationshipResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.relationship+json;version=1:
          schema:
            $ref: "#/components/schemas/RelationshipEnvelope"
    CreateRelationshipResponse:
      description: Relationship created successfully
      headers:
        Location:
          schema:
            type: string
          description: URI of the created relationship
      content:
        application/vnd.pubnub.objects.relationship+json;version=1:
          schema:
            $ref: "#/components/schemas/RelationshipEnvelope"
    EntitiesResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.entity+json;version=1:
          schema:
            $ref: "#/components/schemas/EntitiesEnvelope"
    EntityResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.entity+json;version=1:
          schema:
            $ref: "#/components/schemas/EntityEnvelope"
    CreateEntityResponse:
      description: Entity created successfully
      headers:
        Location:
          schema:
            type: string
          description: URI of the created entity
      content:
        application/vnd.pubnub.objects.entity+json;version=1:
          schema:
            $ref: "#/components/schemas/EntityEnvelope"
    UsersResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.user+json;version=1:
          schema:
            $ref: "#/components/schemas/UsersEnvelope"
    UserResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.user+json;version=1:
          schema:
            $ref: "#/components/schemas/UserEnvelope"
    CreateUserResponse:
      description: User created successfully
      headers:
        Location:
          schema:
            type: string
          description: URI of the created user
      content:
        application/vnd.pubnub.objects.user+json;version=1:
          schema:
            $ref: "#/components/schemas/UserEnvelope"
    ChannelsResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.channel+json;version=1:
          schema:
            $ref: "#/components/schemas/ChannelsEnvelope"
    ChannelResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.channel+json;version=1:
          schema:
            $ref: "#/components/schemas/ChannelEnvelope"
    CreateChannelResponse:
      description: Channel created successfully
      headers:
        Location:
          schema:
            type: string
          description: URI of the created channel
      content:
        application/vnd.pubnub.objects.channel+json;version=1:
          schema:
            $ref: "#/components/schemas/ChannelEnvelope"
    MembershipsResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.membership+json;version=1:
          schema:
            $ref: "#/components/schemas/MembershipsEnvelope"
    MembershipResponse:
      description: Successful response
      content:
        application/vnd.pubnub.objects.membership+json;version=1:
          schema:
            $ref: "#/components/schemas/MembershipEnvelope"
    CreateMembershipResponse:
      description: Membership created successfully
      headers:
        Location:
          schema:
            type: string
          description: URI of the created membership
      content:
        application/vnd.pubnub.objects.membership+json;version=1:
          schema:
            $ref: "#/components/schemas/MembershipEnvelope"
  parameters:
    EntityIdPath:
      name: entityId
      in: path
      required: true
      schema:
        type: string
      description: ID of the entity.
    RelationshipIdPath:
      name: relationshipId
      in: path
      required: true
      schema:
        type: string
      description: ID of the relationship.
    UserIdPath:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: ID of the user.
    ChannelIdPath:
      name: channelId
      in: path
      required: true
      schema:
        type: string
      description: ID of the channel.
    MembershipIdPath:
      name: membershipId
      in: path
      required: true
      schema:
        type: string
      description: ID of the membership.
    EntityClassQuery:
      name: entity_class
      in: query
      required: false
      schema:
        $ref: "common.yaml#/components/schemas/ClassName"
      description: Entity class name
    EntityClassRequiredQuery:
      name: entity_class
      in: query
      required: true
      schema:
        $ref: "common.yaml#/components/schemas/ClassName"
      description: Entity class name
    EntityClassVersionQuery:
      name: entity_class_version
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: Version of the entity class. If not provided, the latest version is used.
    RelationshipClassRequiredQuery:
      name: relationship_class
      in: query
      required: true
      schema:
        $ref: "common.yaml#/components/schemas/ClassName"
      description: Relationship class name
    EntityAIdQuery:
      name: entity_a_id
      in: query
      required: false
      schema:
        type: string
      description: Filter relationships by entity A ID
    EntityBIdQuery:
      name: entity_b_id
      in: query
      required: false
      schema:
        type: string
      description: Filter relationships by entity B ID
    UserIdQuery:
      name: user_id
      in: query
      required: false
      schema:
        type: string
      description: Filter memberships by user ID
    ChannelIdQuery:
      name: channel_id
      in: query
      required: false
      schema:
        type: string
      description: Filter memberships by channel ID
    RelationshipClassVersionQuery:
      name: relationship_class_version
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: Version of the relationship class. If not provided, the latest version is used.
    CursorQuery:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: |
        Opaque cursor for pagination. Base64-encoded token representing the position
        in the result set. Omit or pass null for the first page. Use the cursor value
        from `meta.next_cursor` in the response to navigate to the next page.
      example: "TjA="
    LimitQuery:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return per page (default 20, max 100)
    FilterFastQuery:
      name: filter_fast
      in: query
      schema:
        type: string
        externalDocs:
          url: https://www.pubnub.com/docs/general/metadata/filtering
          description: AppContext Query Language
      description: Filter expression using AppContext Query Language against strongly consistent storage with limited number of conditions
    FilterQuery:
      name: filter
      in: query
      required: false
      schema:
        type: string
      description: |
        Filter expression using AppContext Query Language against eventually consistent storage
    SortQuery:
      name: sort
      in: query
      schema:
        type: string
        example: "createdAt:desc,id"
      description: |
        Comma-separated list of field names to sort by, each optionally
        suffixed with `:desc` (ascending by default).

        The built-in fields `id`, `createdAt`, and `updatedAt` are always
        sortable without declaring them in the class definition. `status` is
        also sortable by default, but can be restricted by projections: when a
        class declares it at `/status`, a PAM-authenticated request can use it
        only if every projection reachable by the token includes `status`.

        Payload properties need `filtering` of at least `simple`, or `full`
        when `sort` is combined with `filter_advanced`.

  securitySchemes:
    pamToken:
      type: apiKey
      in: query
      name: auth
      description: |
        String which is either the auth key (Access Manager legacy) or a valid token
        ([Access Manager](https://www.pubnub.com/docs/general/security/access-control))
        used to authorize the operation if access control is enabled.

        If Access Manager is enabled, exactly one of `auth` (pamToken) or `signature`
        must be provided — providing both or neither results in a 401 error.
    signature:
      type: apiKey
      in: query
      name: signature
      description: |
        Signature used to verify that the request was signed with the secret key
        associated with the subscribe key.

        If [Access Manager](https://www.pubnub.com/docs/sdks/rest-api/access-manager-introduction)
        is enabled, exactly one of `signature` or `auth` (pamToken) must be provided —
        providing both or neither results in a 401 error.
        Check Access Manager documentation for details on how to compute the signature.

  schemas:
    ObjectId:
      type: string
      minLength: 1
      maxLength: 255
      pattern: '^[^,:\*\/\\\s\x00-\x1f\x7f]+$'
      x-pattern-message: "Id contains not allowed character"

    RelationshipsEnvelope:
      description: Enveloped list of relationships
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/RelationshipResource"

    RelationshipEnvelope:
      description: Enveloped single relationship
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/RelationshipResource"

    RelationshipResourceBase:
      description: Base for relationship records - system fields, payload and relationship class identity.
      allOf:
        - $ref: "#/components/schemas/RecordBase"
        - type: object
          required:
            - relationshipClass
            - relationshipClassVersion
          properties:
            relationshipClass:
              allOf:
                - $ref: "common.yaml#/components/schemas/ClassName"
              description: Name of the relationship class.
            relationshipClassVersion:
              type: integer
              minimum: 1
              description: Version of the relationship class.

    RelationshipResource:
      description: Relationship record between two entities.
      allOf:
        - $ref: "#/components/schemas/RelationshipResourceBase"
        - type: object
          required: ["entityAId", "entityBId"]
          properties:
            entityAId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: First entity ID
            entityBId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Second entity ID

    CreateRelationshipRequest:
      description: Request body for creating a relationship
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateRelationshipRequestData"

    UpdateRelationshipRequest:
      description:
        Request body for updating a relationship with complete resource
        replacement
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UpdateRelationshipProperties"

    UpdateRelationshipProperties:
      description: Properties that can be updated on a Relationship (excludes
        immutable fields like entityAId, entityBId, relationshipClass)
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["relationshipClassVersion"]
          properties:
            relationshipClassVersion:
              type: integer
              minimum: 1
              description: Version of the relationship class
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Relationship status
      example:
        status: active
        relationshipClassVersion: 2
        payload:
          custom: fields


    EntitiesEnvelope:
      description: Enveloped list of entities
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/EntityResource"

    EntityEnvelope:
      description: Enveloped single entity
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/EntityResource"

    RecordBase:
      description: System-managed fields plus user payload, shared by all record resources.
      allOf:
        - $ref: "#/components/schemas/DefaultProperties"
        - $ref: "#/components/schemas/Payload"

    EntityResource:
      description: Entity record with its concrete class identity.
      allOf:
        - $ref: "#/components/schemas/RecordBase"
        - type: object
          required: ["entityClass", "entityClassVersion", "entityClassLevel"]
          properties:
            entityClass:
              allOf:
                - $ref: "common.yaml#/components/schemas/ClassName"
              description: Name of the entity class.
            entityClassVersion:
              type: integer
              minimum: 1
              description: Version of the entity class.
            entityClassLevel:
              allOf:
                - $ref: "common.yaml#/components/schemas/ClassLevel"
              description: The level at which the entity class is defined.

    UpdateEntityRequest:
      description: Request body for updating an entity with complete resource replacement
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UpdateEntityProperties"

    UpdateEntityProperties:
      description:
        Properties that can be updated on an Entity (excludes entityClass
        which is immutable)
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["entityClassVersion"]
          properties:
            entityClassVersion:
              type: integer
              minimum: 1
              description: Schema version of the entity payload
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Entity status
      example:
        status: active
        entityClassVersion: 2
        payload:
          custom: fields

    CreateEntityRequest:
      description: Request body for creating an entity
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateEntityRequestData"

    UserResource:
      description:
        User resource - a specialized Entity of the User class (or one of
        its descendant classes).
      allOf:
        - $ref: "#/components/schemas/EntityResource"

    ChannelResource:
      description:
        Channel resource - a specialized Entity of the Channel class (or one
        of its descendant classes).
      allOf:
        - $ref: "#/components/schemas/EntityResource"

    MembershipResource:
      description:
        Membership record - a specialized Relationship between a Channel
        (entityA) and a User (entityB), exposed as channelId and userId.
      allOf:
        - $ref: "#/components/schemas/RelationshipResourceBase"
        - type: object
          required: ["channelId", "userId"]
          properties:
            channelId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Channel ID
            userId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: User ID

    UsersEnvelope:
      description: Enveloped list of users
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/UserResource"

    UserEnvelope:
      description: Enveloped single user
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UserResource"

    UpdateUserRequest:
      description: Request body for updating a user
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UpdateEntityProperties"

    CreateUserRequest:
      description: Request body for creating a user
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateUserRequestData"

    ChannelsEnvelope:
      description: Enveloped list of channels
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ChannelResource"

    ChannelEnvelope:
      description: Enveloped single channel
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/ChannelResource"

    UpdateChannelRequest:
      description: Request body for updating a channel
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UpdateEntityProperties"

    CreateChannelRequest:
      description: Request body for creating a channel
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateChannelRequestData"

    MembershipsEnvelope:
      description: Enveloped list of memberships
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/MembershipResource"

    MembershipEnvelope:
      description: Enveloped single membership
      allOf:
        - $ref: "common.yaml#/components/schemas/ResponseEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/MembershipResource"

    UpdateMembershipRequest:
      description: Request body for updating a membership
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UpdateRelationshipProperties"

    CreateMembershipRequest:
      description: Request body for creating a membership
      allOf:
        - $ref: "common.yaml#/components/schemas/RequestEnvelope"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/CreateMembershipRequestData"

    CreateUserRequestData:
      description: Data payload for creating a user
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["entityClassVersion"]
          properties:
            id:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: User identifier (optional - server generates if not provided)
            entityClassVersion:
              type: integer
              minimum: 1
              description: Version of the entity class
            entityClass:
              type: string
              minLength: 1
              description: Entity class name (optional - defaults to "User"). Must be User or a subclass of User.
            entityClassLevel:
              type: string
              enum: ["Global", "SubKey"]
              description: Class hierarchy level to disambiguate classes with same name at different levels (optional)
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: User status

    CreateChannelRequestData:
      description: Data payload for creating a channel
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["entityClassVersion"]
          properties:
            id:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Channel identifier (optional - server generates if not provided)
            entityClassVersion:
              type: integer
              minimum: 1
              description: Version of the entity class
            entityClass:
              type: string
              minLength: 1
              description: Entity class name (optional - defaults to "Channel"). Must be Channel or a subclass of Channel.
            entityClassLevel:
              type: string
              enum: ["Global", "SubKey"]
              description: Class hierarchy level to disambiguate classes with same name at different levels (optional)
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Channel status

    CreateMembershipRequestData:
      description: Data payload for creating a membership
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["channelId", "userId", "relationshipClassVersion"]
          properties:
            id:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Membership identifier (optional - server generates if not provided)
            channelId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Channel ID reference (maps to entityAId)
            userId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: User ID reference (maps to entityBId)
            relationshipClassVersion:
              type: integer
              minimum: 1
              description: Version of the Membership relationship class
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Membership status

    CreateEntityRequestData:
      description: Data payload for creating an entity (includes optional id field)
      allOf:
        - type: object
          properties:
            id:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Entity identifier (optional - server generates if not provided)
        - $ref: "#/components/schemas/EntityProperties"

    CreateRelationshipRequestData:
      description: Data payload for creating a relationship
      allOf:
        - type: object
          properties:
            id:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Relationship identifier (optional - server generates if not provided)
        - $ref: "#/components/schemas/RelationshipProperties"

    DefaultProperties:
      allOf:
        - $ref: "common.yaml#/components/schemas/DefaultProperties"
        - type: object
          required: ["expiresAt"]
          properties:
            expiresAt:
              type: string
              format: date-time
              description:
                Date and time when the entity expires (will be deleted
                automatically).
          example:
            expiresAt: "2021-01-01T00:00:00.000Z"

    Payload:
      description: User-defined custom properties.
      type: object
      properties:
        payload:
          format: objectNode
          type: object

    EntityProperties:
      description: Writable properties for Entity resource
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required: ["entityClass", "entityClassVersion"]
          properties:
            entityClass:
              $ref: "common.yaml#/components/schemas/ClassName"
            entityClassVersion:
              type: integer
              minimum: 1
              description: Version of an Entity Class
            entityClassLevel:
              type: string
              enum: ["Global", "SubKey"]
              description: Class hierarchy level to disambiguate classes with same name at different levels (optional)
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Entity status
      example:
        status: active
        entityClass: user
        entityClassVersion: 1
        payload:
          custom: fields

    RelationshipProperties:
      description: Writable properties for Relationship resource
      allOf:
        - $ref: "#/components/schemas/Payload"
        - type: object
          required:
            - entityAId
            - entityBId
            - relationshipClass
            - relationshipClassVersion
          properties:
            entityAId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: First entity ID
            entityBId:
              allOf:
                - $ref: "#/components/schemas/ObjectId"
              description: Second entity ID
            relationshipClass:
              $ref: "common.yaml#/components/schemas/ClassName"
            relationshipClassVersion:
              type: integer
              minimum: 1
              description: Version of the relationship class
            status:
              type: string
              minLength: 1
              maxLength: 100
              description: Relationship status
      example:
        entityAId: u123
        entityBId: s456
        relationshipClass: ProductOwner
        relationshipClassVersion: 1
        status: active
        payload:
          custom: fields
