<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PubnubMessaging.LogLevel" value="0"/>
    <add key="PubnubMessaging.PubnubErrorFilterLevel" value="2"/>
    <add key="PubnubMessaging.LogMessageLengthLimit" value="0"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="30"/>
    </connectionManagement>
  </system.net>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>