@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo ePoll</title>
    <link rel="Stylesheet" href="../../Content/demo.css" />
</head>
<body>
    <div id="votecontainer">
    <p class="welcome">PubNub ePoll</p>
    @if (ViewData["PollAnswerSaveStatus"] != null && (bool)ViewData["PollAnswerSaveStatus"])
    {
        if (ViewData["ID"] != null && ViewData["ID"].ToString() != "")
        {
            string questionID = ViewData["ID"].ToString();
            using (Html.BeginForm("PollResult", "Poll",FormMethod.Post))
            {
                <p class="thanks">Thank you for your participation in PubNub ePoll</p>
        
                @Html.Hidden("ID", questionID);
                <div id="divpollresult2">
                <button name="btnPollResult" id="btnPollResult" value="View Poll Results">View Poll Results</button>
                </div>
            }
        }
    }
    else
    {
        <p>Technical error occured. Please try again later.</p>
    }
    </div>
</body>
</html>
