@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for (int index = 0; index < ViewBag.NumberOfTimes; index++)
    {
        <li>Hello @ViewBag.HelloName! Welcome to PubNub Demo</li>
    }
</ul>