name: Tests

on:
  push:
    branches-ignore:
      - 'master'
  workflow_dispatch:

jobs:
  tests:
    name: NuGet packages build
    runs-on: windows-2019
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.3
      - name: Setup .NET 2.1.519
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.519
      - name: Setup .NET 6.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Build packages
        env:
          WORKSPACE_PATH: ${{ github.workspace }}
        run: .\\.github\\workflows\\release\\build-packages.ps1
        shell: powershell
