name: run_acceptance_tests

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
defaults:
  run:
    working-directory: ./src
    
jobs:
  build:

    runs-on: windows-2019

    steps:
    - name: Checkout Project
      uses: actions/checkout@v2
      
    - name: Checkout mock-server action
      uses: actions/checkout@v2
      with:
        repository: pubnub/client-engineering-deployment-tools
        ref: github-actions
        token: ${{ secrets.GH_TOKEN }}
        path: client-engineering-deployment-tools
        
    - name: Run mock server action
      uses: ./client-engineering-deployment-tools/actions/mock-server
      with:
        token: ${{ secrets.GH_TOKEN }}
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: cd ./UnitTests/AcceptanceTests && dotnet build --no-restore
    - name: Test
      env: 
       PN_PUB_KEY: ${{ secrets.PN_PUB_KEY }}
       PN_SUB_KEY: ${{ secrets.PN_SUB_KEY }}
       PN_SEC_KEY: ${{ secrets.PN_SEC_KEY }}    
      run: |
        Copy-Item -Path "${{ github.workspace }}/sdk-specifications/features/access/*" -Destination "${{ github.workspace }}/src/UnitTests/AcceptanceTests/Features" -Recurse
        cd ./UnitTests/AcceptanceTests && dotnet test --no-build --verbosity normal --logger trx --results-directory ./results
    - name: Upload acceptance tests reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: acceptance-test-reports
        path: |
          ${{ github.workspace }}/src/UnitTests/AcceptanceTests/Features/
          ${{ github.workspace }}/src/UnitTests/AcceptanceTests/results/
